<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Integral</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>

      <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                  <h2>About us</h2>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Step into a world of wonder and discovery with our captivating website, where we curate an extensive collection of India's most enchanting tourist destinations. From the majestic palaces of Rajasthan to the serene backwaters of Kerala, immerse yourself in the diverse beauty and rich cultural heritage of this incredible nation. Let us be your trusted companion as you embark on unforgettable journeys, providing valuable insights, stunning visuals, and expert travel recommendations to make your exploration truly memorable. Whether you are an avid traveler or a dreamer planning your next adventure, our website is here to inspire and guide you through the kaleidoscope of India's mesmerizing attractions. Start your exploration today and unravel the magic that awaits you!</p>
                    <br>
                    <footer class="blockquote-footer">kcbiradar<cite title="Source Title"></cite></footer>
                  </blockquote>
                </div>
              </div>
        </div>
      </div>
</body>
</html>